.container{
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

ul, a {
  list-style-type: none;
  text-decoration: none;
}

li{
  background-color: azure;
  width: fit-content;
}

a:hover{
  background-color: white;
  color: red;
  font-style: italic;
  font-weight: 700;
}

.head{
  background-image: url(images/grad\ cerem5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: auto;
  height: 450px;
}



.list-items{
  
  height: 390px;
  margin: 0;
  padding: 0;
  
}

h1{
  background-color: blue
}

.list{
  display: inline-block;
  margin-right: 35px;
  padding: 5px;
}

aside{
  background-size: cover;
  margin: 0;
  padding: 0;
}

.men{
  background-color: green;
  float: left;
  position: relative;
  height: 480px;
  margin-top: 0;
  margin-right: 35px;

}

.menu-items{
  background-color: skyblue;
  margin: 10px;
  margin-right: 50px;
  margin-left: 0px;
  padding-left: 0;
}

.content-1{
  background-color: antiquewhite;
  color: #000;
  padding: 0;

  
  margin: 0;
  
}

.subContent-1{
  display: inline-block;
  margin-right: 30px;
  padding: 0;
  width: 500px;
  

}

.features{
  width: 80px;
}

figure.features, img{
  display: inline-block;
  align-content: center;
  border-radius: 30%;
  width: 100;
  height: 100px;
  margin-right: 25px;
  padding: 0;
}






